* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
h1,
h2,
h3,
h4 {
  font-family: "Tenor Sans", sans-serif; /* для заголовков*/
}
body {
  background-color: #f8f3ef;
  font-family: "Roboto", sans-serif;
}
header {
  height: 100px;
  width: 100%;
}
.menu-icon{
  display: none;
}
.header__flex {
  padding: 0 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.logo-ambar {
  width: 93px;
  height: 93px;
}
.header__catalog {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
  cursor: pointer;
}
.catalog__p {
  color: #222;
  font-size: 14px;
  font-weight: 700;
}
.header__menu {
  display: flex;
  flex-direction: row;
  gap: 44px;
}
.menu__link {
  color: #222;
  font-size: 14px;
  font-weight: 700;
  text-decoration: none;
}
.menu__link:hover {
  color: #ce9a74;
}
.menu__link:visited {
  background-color: rgba(66, 66, 169, 0.468);
}
.header__tel {
  color: #222;
  font-size: 14px;
  font-weight: 500;
  text-decoration: none;
}
.header__city {
  color: #c0c0c0;
  font-size: 12px;
  font-weight: 500;
}
.header__btn {
  width: 226px;
  height: 45px;
  border-radius: 5px;
  background: var(--123, linear-gradient(90deg, #e2ae80 0.1%, #cc9872 99.91%));
  display: flex;
  align-items: center;
  justify-content: center;
  color: #f8f3ef;
  font-size: 16px;
  font-weight: 700;
  border: none;
  cursor: pointer;
}
.header__btn:hover {
  background: #bc916a;
}
.catalog__menu-block {
  display: none;
  margin-left: 190px;
  position: absolute;
  top: 99px;
  left: 0;
  z-index: 100;
  width: 304px;
  height: 324px;
  border-radius: 0px 20px 20px 20px;
  background: #c19d7a;
}
.catalog__menu-flex {
  display: flex;
  padding: 33px 0px 22px 0px;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 10px;
}
.mobil-a {
  padding-left: 18px;
  text-decoration: none;
  color: #fff;
  font-size: 14px;
  font-weight: 700;
}
.mobil-a:hover {
  width: 100%;
  background: #f8f3ef;
  color: #222;
}
/*header end*/

/*welcome start*/
.welcome {
  width: 100%;
  margin-bottom: 54px;
}
.welcome-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
.welcom-flex-img {
  display: flex;
  align-items: center;
  justify-content: center;
}
.welcome-img {
  position: relative;
}
.welcome-img-shadow {
  position: absolute;
}
.welcome-flex-text {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.welcome-text-btn {
  margin-left: -780px;
  margin-top: -500px;
  position: absolute;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 36px;
}
.welcome__btn-back {
  display: flex;
  gap: 10px;
  color: #f8f3ef;
  font-size: 15px;
  font-weight: 500;
  text-decoration: none;
}
.welcome__btn-back:hover {
  color: #fff;
  font-size: 16px;
}
.welcome-text {
  color: #f8f3ef;
  font-size: 15px;
  font-weight: 400;
}
.welcome-h {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #f8f3ef;
  font-size: 42px;
  font-weight: 400;
  line-height: 125.5%;
  text-transform: uppercase;
  margin-bottom: 50px;
}

.welcom__flex-menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 55px;
  margin-bottom: 50px;
}
.element__welcome_flex-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.welcome__logo {
  width: 50px;
  height: 50px;
}
.welcome__p {
  color: #f8f3ef;
  font-size: 16px;
  font-weight: 500;
}
.welcome__btn-brown {
  cursor: pointer;
  width: 257px;
  height: 58px;
  border-radius: 5px;
  background: linear-gradient(
    97deg,
    rgba(255, 255, 255, 0) 32.32%,
    rgba(255, 255, 255, 0.05) 70.17%,
    rgba(255, 255, 255, 0.39) 78.67%,
    rgba(255, 255, 255, 0.2) 85.86%,
    rgba(255, 255, 255, 0) 97.79%
  );
  background-color: #bc916a;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #f8f3ef;
  font-size: 18px;
  font-weight: 700;
}
.welcome__btn-brown:hover {
  background-color: #a27d5b;
}
.welcome__circle {
  position: absolute;
  margin-top: -120px;
  right: 150px;
  width: 161px;
  height: 161px;
  border: 1px solid #e2ae80;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.welcome__circle-h {
  text-align: center;
  color: #e2ae80;
  font-size: 24px;
  font-style: italic;
  font-weight: 600;
  line-height: 103.6%;
}
/*welcome end*/

/*board start*/
.section__board {
  padding: 0 80px;
  margin-bottom: 86px;
}
.board__block-flex {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
}
.block-board {
  width: 278px;
  height: 430px;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
}
.board-img {
  width: 278px;
  height: 278px;
}
.board-p {
  color: #222;
  font-size: 18px;
  font-weight: 400;
  line-height: 120%;
}
.board-cent {
  left: 0;
  color: #d8a47a;
  font-size: 18px;
  font-weight: 700;
  line-height: 120%;
}
.board-btn-flex {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 6px;
}
.board-btn {
  cursor: pointer;
  width: 105px;
  height: 43px;
  border-radius: 5px;
  border: 1px solid var(--123, #e2ae80);
  background: var(--123, linear-gradient(90deg, #e2ae80 0.1%, #cc9872 99.91%));
  background-color: #e2ae80;
  color: #fff;
  font-size: 14px;
  font-weight: 700;
}
.board-btn:hover {
  background: var(--123, linear-gradient(90deg, #b88e69 0.1%, #a67b5d 99.91%));
}
.board-btn-order {
  cursor: pointer;
  width: 136px;
  height: 43px;
  border-radius: 5px;
  border: 1px solid var(--123, #e2ae80);
  background-color: transparent;
  color: #222;
  font-size: 14px;
  font-weight: 500;
}
.board-btn-order:active {
  background-color: #99999d;
}
/*board end*/

/*questions start*/

.questions__background-img {
  position: relative;
  background-image: url(img/Rectangle\ 606.png);
  background-size: cover;
  width: 100%;
  height: 562px;
}
.questions__shadow {
  background-image: url(img/Rectangle\ 581.svg);
  background-size: cover;
  position: absolute;
  width: 100%;
  height: 562px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 100px 80px 80px 100px;
}
.questions__flex-block {
  display: flex;
  flex-direction: column;
  gap: 70px;
}
.questions__h {
  color: #f8f3ef;
  font-size: 36px;
  font-weight: 400;
  line-height: 116%;
  text-transform: uppercase;
}
.questions__p {
  color: #aca095;
  font-size: 36px;
  font-weight: 400;
  line-height: 116%;
  text-transform: uppercase;
  margin-left: 90px;
}
.questions__flex-buttons {
  display: flex;
  flex-direction: row;
  gap: 21px;
  align-items: center;
}
.flex-buttons__form-one,
.flex-buttons__form-two {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.form-one-p,
.form-two-p {
  color: #f8f3ef;
  font-size: 16px;
  font-weight: 700;
}
.form-one-input,
.form-two-input {
  padding-left: 10px;
  width: 250px;
  height: 64px;
  border-radius: 5px;
  background: #f5f5f5;
  color: #bcbcbc;
  font-size: 14px;
  font-weight: 500;
  line-height: 141.523%;
}
.flex-buttons_btn {
  margin-top: 23px;
  width: 257px;
  height: 62px;
}
.flex-buttons__text {
  margin-top: 10px;
  margin-left: 140px;
}
.flex-buttons-text-p {
  width: 296px;
  height: 41px;
  color: #f8f3ef;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 10px;
}
.flex-buttons-text-a {
  color: #f8f3ef;
  font-size: 22px;
  font-weight: 500;
  text-decoration: none;
}
.questions__flex-block_p {
  color: #e6e6e6;
  font-size: 12px;
  font-weight: 300;
}
/*questions end*/

/*footer start*/
footer {
  position: absolute;
  z-index: 10;
  margin-top: -60px;
  width: 100%;
  height: 392px;
  border-top-right-radius: 60px;
  border-top-left-radius: 60px;
  background: #34353d;
  padding: 90px 100px;
}
.section-footer__flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: start;
}
.footer-block__logo {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.footer-logo {
  margin-top: -20px;
}
.block-logo__p {
  color: #f8f3ef;
  font-size: 12px;
  font-weight: 400;
}
.footer-block__menu,
.footer-block__information,
.footer-bock__contacts {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.menu__h {
  color: #f8f3ef;
  font-size: 16px;
  font-weight: 500;
}
.block__menu-flex,
.block__information-flex,
.block__contacts-flex {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.footer__menu-a {
  color: #99999d;
  font-size: 14px;
  font-weight: 500;
  text-decoration: none;
}
.footer__menu-a:hover {
  color: #ce9a74;
}
.block-contacts__logo-flex {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}
/*footer end*/

@media (max-width: 1373px) {
  .welcome__circle {
    display: none;
  }
  .welcome-img {
    width: 1000px;
  }
  .welcome-h {
    font-size: 36px;
  }
  .welcome-text-btn {
    margin-left: -460px;
    margin-top: -380px;
  }
  .welcome-img-shadow {
    width: 1000px;
  }
}
@media (max-width: 1247px) {
  .flex-buttons__text {
    margin-left: 0px;
  }
  .header__catalog,
  .header__menu,
  .header__btn {
    display: none;
  }
  .flex-buttons_btn {
    display: block;
  }
  .menu-icon {
    display: block;
    width: 40px;
    height: 30px;
    position: relative;
    border: none;
    background-color: transparent;
  }
  .menu-icon__line {
    display: block;
    width: 100%;
    height: 3px;
    background-color: #2e2f2e;
  }
  .menu-icon::after,
  .menu-icon::before {
    content: "";
    display: block;
    width: 100%;
    height: 3px;
    background-color: #2e2f2e;
    position: absolute;
    left: 0;
  }
  .menu-icon::after {
    bottom: 0;
    transition: transform 0.2s, bottom 0.2s 0.2s;
  }
  .menu-icon::before {
    top: 0;
    transition: transform 0.2s, top 0.2s 0.2s;
  }

  .menu__mobil {
    display: none;
    position: absolute;
    top: 99px;
    right: 0;
    z-index: 100;
    width: 389px;
    height: 669px;
    background: #f8f3ef;
  }
  .menu__mobil-active {
    display: block;
  }
  .mobil-block-flex {
    padding: 30px 30px;
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
  }
  .mobil-p {
    display: flex;
  }
  .catalog__p {
    font-size: 16px;
  }
  .catalog__menu-mobile {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  .mobil-a {
    color: #222;
    font-size: 14px;
    font-weight: 500;
    text-decoration: none;
  }
  .mobil-a:hover {
    color: #947053;
  }
  .mobil-menu {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .section__board {
    padding: 0px;
  }
  .questions__shadow {
    padding: 100px 20px 80px 20px;
  }
  footer {
    padding: 90px 20px;
  }
}
@media (max-width: 1010px) {
  .welcome-img {
    width: 800px;
  }
  .welcome-h {
    font-size: 30px;
    margin-bottom: 20px;
  }
  .welcome__p {
    font-size: 12px;
  }
  .welcome__logo {
    width: 30px;
    height: 30px;
  }
  .welcom__flex-menu {
    gap: 35px;
    margin-bottom: 20px;
  }
  .welcome__btn-brown {
    width: 207px;
  }
  .welcome-text-btn {
    margin-left: -280px;
    margin-top: -280px;
  }
  .welcome-img-shadow {
    width: 800px;
  }
  .board-img {
    width: 248px;
    height: 248px;
  }
  .block-board {
    width: 248px;
  }
}

@media (max-width: 956px) {
  .questions__flex-buttons {
    flex-direction: column;
    gap: 2px;
  }
  .questions__flex-block {
    align-items: center;
    gap: 0;
  }
  .questions__shadow {
    padding: 20px 20px 20px 20px;
  }
  .flex-buttons-text-a {
    font-size: 18px;
  }
  .flex-buttons-text-p {
    width: auto;
  }
  .flex-buttons__text {
    margin-bottom: 20px;
  }
}
@media (max-width: 806px) {
  .welcome-img {
    height: 400px;
    width: 600px;
  }
  .welcome-text-btn {
    margin-left: -100px;
    margin-top: -330px;
  }
  .welcom__flex-menu {
    gap: 15px;
  }
  .welcome-h {
    font-size: 26px;
  }
  .welcome-img-shadow {
    border-radius: 10%;
    object-fit: cover;
    height: 400px;
    width: 600px;
  }
  .footer-block__menu {
    display: none;
  }
}
@media (max-width: 610px) {
  .board-img {
    width: 163px;
    height: 163px;
  }
  .board-btn-flex {
    flex-direction: column;
    align-items: start;
  }
  .board-btn-order {
    height: 35px;
  }
  .board-btn {
    width: 136px;
    height: 35px;
  }
  .block-board {
    width: 163px;
    height: 350px;
  }
  .welcome-img {
    border-radius: 10%;
    object-fit: cover;
    height: 350px;
    width: 375px;
  }
  .welcome-text {
    font-size: 11px;
  }
  .welcome__btn-back {
    font-size: 11px;
  }
  .welcome-text-btn {
    gap: 10px;
    margin-left: -40px;
    margin-top: -290px;
  }
  .welcome-h {
    font-size: 20px;
  }
  .welcome__p {
    width: 110px;
    text-align: center;
  }
  .welcome-img-shadow {
    height: 350px;
    width: 375px;
  }
  .questions__h {
    text-align: center;
    font-size: 24px;
  }
  .questions__p {
    text-align: center;
    font-size: 24px;
    margin-left: 0px;
  }
  .questions__flex-block_p {
    text-align: center;
  }
  .footer-block__information,
  .footer-bock__contacts {
    display: none;
  }
  .section-footer__flex {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .footer-block__logo {
    align-items: center;
  }
  footer {
    height: 292px;
  }
  .menu__mobil {
    width: 375px;
    height: 569px;
  }
}
