* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
h1,
h2,
h3 {
  font-family: "Tenor Sans", sans-serif; /* для заголовков*/
}
body {
  background-color: #f8f3ef;
  font-family: "Roboto", sans-serif;
}

/*header start*/
header {
  height: 100px;
  width: 100%;
}
.header__flex {
  padding: 0 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.logo-ambar {
  width: 93px;
  height: 93px;
}
.header__catalog {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
  cursor: pointer;
}
.catalog__p {
  color: #222;
  font-size: 14px;
  font-weight: 700;
}
.header__menu {
  display: flex;
  flex-direction: row;
  gap: 44px;
}
.menu__link {
  color: #222;
  font-size: 14px;
  font-weight: 700;
  text-decoration: none;
}
.menu__link:visited {
  background-color: rgba(66, 66, 169, 0.468);
}
.header__tel {
  color: #222;
  font-size: 14px;
  font-weight: 500;
  text-decoration: none;
}
.header__city {
  color: #c0c0c0;
  font-size: 12px;
  font-weight: 500;
}
.header__btn {
  width: 226px;
  height: 45px;
  border-radius: 5px;
  background: var(--123, linear-gradient(90deg, #e2ae80 0.1%, #cc9872 99.91%));
  display: flex;
  align-items: center;
  justify-content: center;
  color: #f8f3ef;
  font-size: 16px;
  font-weight: 700;
  border: none;
  cursor: pointer;
}
.header__btn:hover {
  background: #bc916a;
}
/*header end*/

/*welcome start*/
.welcome {
  margin-bottom: 100px;
}
.welcome-background {
  background-image: url(img/Rectangle\ 583.svg);
  position: relative;
  margin-left: 85px;
  height: 585px;
  background-repeat: no-repeat;
}
.welcome__gradient {
  position: absolute;
}
.welcome__flex {
  top: 73px;
  left: 400px;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 35px;
}
.welcome__flex-h {
  width: 492px;
  color: #f8f3ef;
  text-align: center;
  font-size: 42px;
  font-weight: 400;
  line-height: 125.5%;
  text-transform: uppercase;
}
span {
  color: #cf9b75;
  font-size: 42px;
  font-weight: 400;
  line-height: 125.5%;
  text-transform: uppercase;
}
.welcom__flex-menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 46px;
}
.element__welcome_flex-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.welcome__logo {
  width: 61px;
  height: 60px;
}
.welcome__p {
  width: 155px;
  color: #f8f3ef;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
}
.welcome__flex-button {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  gap: 19px;
}
.welcome__btn-brown {
  width: 257px;
  height: 58px;
  border-radius: 5px;
  background-color: #cf9b75;
  border: none;
  color: #f8f3ef;
  text-align: center;
  font-size: 18px;
  font-weight: 700;
}
.welcome__btn-brown:hover {
  background: linear-gradient(
    90deg,
    rgba(175, 128, 94, 1) 33%,
    rgba(226, 174, 128, 1) 66%
  );
}
.welcome__btn-white {
  width: 257px;
  height: 58px;
  cursor: pointer;
  border-radius: 5px;
  background-color: transparent;
  border: 2px solid var(--123, #e2ae80);
  color: #f8f3ef;
  text-align: center;
  font-size: 18px;
  font-weight: 700;
}
.welcome__circle {
  top: 20px;
  left: 622px;
  position: absolute;
  width: 161px;
  height: 161px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.welcome__circle-h {
  text-align: center;
  font-size: 24px;
  font-weight: 600;
  line-height: 103.6%;
  background: var(--123, linear-gradient(90deg, #e2ae80 0.1%, #cc9872 99.91%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
/*welcome end*/

/* video start*/

.video__flex-text {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 80px;
  align-items: center;
}
.video__h {
  position: relative;
  color: #222;
  font-size: 36px;
  font-weight: 400;
  line-height: 116%;
}
.video__p {
  position: absolute;
  margin-left: 150px;
  color: #aca095;
  font-size: 36px;
  font-weight: 400;
  line-height: 116%;
  text-transform: uppercase;
}
.video__btn {
  width: 217px;
  height: 64px;
  border-radius: 5px;
  border: 1px solid #cc1616;
  background: #cc1616;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 5px;
  color: #fff2f2;
  font-size: 16px;
  font-weight: 700;
}
.video__btn:hover {
  background: #a71212;
}
.block-video {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 700px;
}
.video__img {
  width: 1200px;
  height: 531px;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.block-video__shadow {
  margin-top: -615px;
  margin-left: 160px;
  position: absolute;
  z-index: 2;
  width: 1200px;
  height: 531px;
}
.img-btn {
  z-index: 5;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.button-play-outer,
.button-play-inner {
  position: absolute;
}

.button-play-arrow {
  position: absolute;
  margin-left: 10px;
}
/* video end*/


/*questions start*/

.questions__background-img {
  position: relative;
  background-image: url(img/Rectangle\ 606.png);
  width: 100%;
  height: 562px;
}
.questions__shadow {
  background-image: url(img/Rectangle\ 581.svg);
  position: absolute;
  width: 100%;
  height: 562px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 100px 80px 80px 100px;
}
.questions__flex-block {
  display: flex;
  flex-direction: column;
  gap: 70px;
}
.questions__h {
  color: #f8f3ef;
  font-size: 36px;
  font-weight: 400;
  line-height: 116%;
  text-transform: uppercase;
}
.questions__p {
  color: #aca095;
  font-size: 36px;
  font-weight: 400;
  line-height: 116%;
  text-transform: uppercase;
  margin-left: 90px;
}
.questions__flex-buttons {
  display: flex;
  flex-direction: row;
  gap: 21px;
  align-items: center;
}
.flex-buttons__form-one,
.flex-buttons__form-two {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.form-one-p,
.form-two-p {
  color: #f8f3ef;
  font-size: 16px;
  font-weight: 700;
}
.form-one-input,
.form-two-input {
  padding-left: 10px;
  width: 250px;
  height: 64px;
  border-radius: 5px;
  background: #f5f5f5;
  color: #bcbcbc;
  font-size: 14px;
  font-weight: 500;
  line-height: 141.523%;
}
.flex-buttons_btn {
  margin-top: 23px;
  width: 257px;
  height: 62px;
}
.flex-buttons__text {
  margin-top: 10px;
  margin-left: 140px;
}
.flex-buttons-text-p {
  width: 296px;
  height: 41px;
  color: #f8f3ef;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 10px;
}
.flex-buttons-text-a {
  color: #f8f3ef;
  font-size: 22px;
  font-weight: 500;
  text-decoration: none;
}
.questions__flex-block_p {
  color: #e6e6e6;
  font-size: 12px;
  font-weight: 300;
}
/*questions end*/
